.pancho_sup {
    margin: 0 auto;
    width: 600px;
    height: 85px;
    background-color: #e1b882;
    border-radius: 75px 75px 15px 15px;
    border-bottom: 15px solid #b2956b;
}

.pancho_med {
    margin: 0 auto;
    width: 700px;
    height: 75px;
    background-color: #ac3825;
    border-radius: 50px;
}

.pancho_inf {
    margin: 0 auto;
    width: 600px;
    height: 85px;
    background-color: #e1b882;
    border-radius: 15px 15px 75px 75px;
    border-top: 15px solid #b2956b;
}